<b> Careers Page! </b>
<b><%= link_to 'https://google.com/' do %> </b>
    <span class="fa fa-foward fa-2x social-button"></span>
  <% end %>
<b> the button is hidden you have to find it this is to test if you truly have the dedication needed to learn </b>